.main {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1e6dc;
}

.places {
  flex-grow: 1;
  display: flex;
  align-self: stretch;
  flex-direction: column;
}

.places > div:last-of-type {
  flex-direction: row-reverse;
}

.flexContainer {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  height: 60vh;
  width: 60vh;
  max-width: 50vw;
  max-height: 50vw;
  margin: 20px;
  padding: 20px;
  display: flex;
  border-radius: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

/* .imageContainer:hover {
  scale: 0.9;
} */

.imageContainer > div:last-of-type {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: var(--primary-text);
  font-size: 18px;
  font-weight: 300;
  font-weight: 900;
  font-family: 'MontserratARM';
  text-transform: uppercase;
}

.hall {
  background-size: cover;
  background-image: url(../../../../../assets/images/hall.jpg);
}

.church {
  background-size: cover;
  background-image: url(../../../../../assets/images/church.jpg);
}

.mapButton {
  padding: 12px 25px;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
  color: var(--secondary-text);
  border: 2px solid var(--secondary-text)
}

.mapButton:hover {
  color: var(--primary-text);
  background-color: var(--secondary-text);
}