.main {
  display: flex;
  padding: 30px 15px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #E0CAC6;
}

.places {
  flex-grow: 1;
  display: flex;
  align-self: stretch;
  flex-direction: column;
}

.places > div:nth-of-type(2) {
  flex-direction: row-reverse;
}

.flexContainer {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  width: 250px;
  height: 250px;
  margin: 20px;
  padding: 20px;
  display: flex;
  border-radius: 500px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

/* .imageContainer:hover {
  scale: 0.9;
} */

.imageContainer > div:last-of-type {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: var(--primary-text);
  font-size: 20px;
  font-weight: 300;
  font-weight: 900;
  margin: 0;
  font-family: 'MontserratARM';
  text-transform: uppercase;
}

.time {
  color: var(--primary-text);
  font-size: 18px;
  font-weight: 300;
  font-weight: 700;
  margin: 15px 0;
  font-family: 'MontserratARM';
  text-transform: uppercase;
}

.hall {
  background-size: cover;
  background-image: url(../../../../../assets/images/hall.jpg);
}

.photosession {
  background-size: cover;
  background-image: url(../../../../../assets/images/photosession.jpg);
}

.church {
  background-image: url(../../../../../assets/images/church.jpg);
  background-blend-mode: saturation;

}

.mapButton {
  padding: 12px 25px;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-text);
  border: 2px solid var(--secondary-text)
}

.mapButton:hover {
  color: var(--primary-text);
  background-color: var(--secondary-text);
}