.container {
  gap: 10px;
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  font-family: Greate Vibes;
}

.topText {
  margin: 0;
  font-size: 25px;
  line-height: 1.55;
  color: var(--primary-text);
  font-family: 'MontserratARM', Arial, sans-serif;
}

.timer {
  margin-top: 55px;
  justify-content: center;
  color: var(--secondary-text);
  display: flex;
}

.timer p {
  margin: 0;
  gap: 10px;
  display: flex;
  font-size: 75px;
  min-width: 70px;
  padding: 5px 30px;
  align-items: center;
  flex-direction: column;
}

.timer p:not(:last-child) {
  border-right: 1px solid white;
}

.timer p span {
  font-size: 20px !important;
}

@media screen and (max-width: 768px) {
  .timer p {
    font-size: 50px;
    min-width: 50px;
    padding: 2px 15px;
  }
}