.header {
  flex-grow:1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #f1e6dc;
  /* padding: 50px 20px 50px 20px; */
}

.headerFilter {
  top: 0;
  left: 0;
  flex: 1;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.content {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content > h1 {
  color: var(--primary-text);
}

.namesContainer {
  width: 100%; 
  overflow: hidden;
  margin-top: 180px;
}

.names {
  margin: 0;
  opacity: 0; 
  color: #936529;
  font-size: 95px;
  font-weight: 100;
  font-family: Dzeragir;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.firstName {
  animation-delay: 0.5s;
  animation: firstName 1s ease-out 0.5s;
  animation-fill-mode: forwards;
  transform: translateX(-120px);
}

.secondName {
  animation-delay: 0.5s;
  animation: secondName 1s ease-out 0.5s;
  animation-fill-mode: forwards;
  transform: translateX(120px);
}

.image {
  height: 100vh;
  width: 100vw;
  /* object-fit: contain; */
}

@media screen and (max-width: 768px) {
  .content {
    padding: 50px 20px 50px 20px;
  }
  
  .namesContainer {
    margin-top: 200px;
  }
  
  .names {
    opacity: 0; 
    font-size: 75px;
    font-family: Dzeragir;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes firstName {
  from { 
    opacity: 0; 
  }
  to { 
    opacity: 1; 
    transform: translate(-50px);
  }
}

@keyframes secondName {
  from { 
    opacity: 0; 
  }
  to { 
    opacity: 1; 
    transform: translate(50px);
  }
}

