.container {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-text);
}

.mapContainer {
  width: 40vw;
  height: 40vh;
}


@media screen and (max-width: 1000px) {
  .mapContainer {
    width: 80vw;
    height: 30vh;
  }
}