/* fonts */

@font-face {
  font-family: Greate Vibes;
  src: url(../assets/fonts/GreatVibes-Regular.ttf);
}

@font-face {
  font-family: 'Dzeragir';
  src: url(../assets/fonts/Dzeragir.otf);
}

:root {
  --primary-text: #fff;
  --secondary-text: #e2a95e;
}